<!DOCTYPE html>

{% load static %}
<link rel ="stylesheet" type="text/css" href="{% static 'LiveLecture/style.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'LiveLecture/timeline.css' %}">

<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LiveLecture</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-book"></span> Courses</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li><a href="#"><span
                                class="glyphicon glyphicon-user"></span> {{ request.user.first_name }} {{ request.user.last_name }}
                            (Profile)</a></li>
                        <li><a href="{% url 'LiveLecture:logout_view' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                    {% else %}
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="{% url 'LiveLecture:login_view' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>

</body>
</html>
