{% extends 'LiveLecture/base.html' %}

{% block content %}

    <h1 class="mt-5">Lecture - {{ lecture.name }}</h1>
    <h3 class="mt-3">{{ lecture.lecturer.first_name }} {{ lecture.lecturer.last_name }}</h3>
    <div class="form-row text-center margin mt-5">
        <h4>{{ lecture.startTime }} - {{ lecture.endTime }}</h4>
    </div>

    <div class="form-row text-right margin mt-5">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#list">
            List of students
        </button>
        <div id="list" class="collapse">
            <ul class="list-group">
                {% for student in students %}
                    <li class="list-group-item">{{ student.first_name }} {{ student.last_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-md-14">
                    <div class="page-header">
                        <h2>Timeline</h2>
                    </div>
                    <div style="display:inline-block;width:100%;overflow-y:auto;">
                        <ul class="timeline timeline-horizontal">
                            <li class="timeline-item">
                                <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 1</h4>
                                        <p>
                                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours
                                                ago via Twitter
                                            </small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis faiz elementum girarzis,
                                            nisi eros gostis.</p>
                                    </div>
                                </div>
                            </li>
                            <!-- <li class="timeline-item">
                                <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 2</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis faiz elementum girarzis, nisi eros gostis.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 3</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipisci. Mé faiz elementum girarzis, nisi eros gostis.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge danger"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 4</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 5</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mussum ipsum cacilds 6</h4>
                                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            {% for message in messages %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm">
                            <b>{{ message.student.first_name }} {{ message.student.last_name }}</b>
                        </div>
                        <div class="col-sm">
                            Likes: {{ message.likes }}
                        </div>
                        <div class="col-sm">
                            <a href="{% url 'LiveLecture:add_like' lecture.pk message.pk%}" class="btn btn-primary" role="button">Like</a>
                        </div>
                    </div>
                    {{ message.content }}
                </li>
            {% endfor %}
        </ul>

        <form action="{% url 'LiveLecture:add_message' lecture.pk %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="message">Enter your question:</label>
                <input type="text" class="form-control" id="message" name="message">
            </div>
            <div class="checkbox" id="anonymous" name="anonymous">
                <label><input type="checkbox"> Anonymous</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    {% endif %}

{% endblock %}
