{% extends 'LiveLecture/base.html' %}

{% block content %}

    {% if request.user.is_authenticated %}
        <h2 class="mt-5">Your lectures</h2>

        <div class="text-black">
            {{ request.user.first_name }}, choose one of your lectures from the list below.
        </div>

    {% else %}
        <h2 class="mt-5">Upcoming lectures</h2>
        <span class="text-black">
                Sign in to join lectures.
            </span>

    {% endif %}
    
    {% if lecture_list %}
        <table class="table table-hover">
            <thead>
            <th scope="col">Name</th>
            <th scope="col">Lecturer</th>
            <th scope="col">Description</th>
            </thead>
            <tbody>
            {% for lecture in lecture_list %}
                <tr class='clickable-row' data-href="{% url 'LiveLecture:lecture' lecture.pk %}">
                    <td>{{ lecture.name }}</td>
                    <td>{{ lecture.lecturer.first_name }} {{ lecture.lecturer.last_name }}</td>
                    <td>{{ lecture.description }}</td>
                    {% if not signInEnable %}
                    <td><button type="button" class="btn" href="{% url 'LiveLecture:add_subscriptions' lecture.pk %}">Sign in</button></td>
                    {% endif %}
                </tr>
               
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No lectures are available.</p>
    {% endif %}

    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>

{% endblock %}
